.containerItem {
  background-color: black;
  color: beige;
  width: 75%;
  padding: 16px;
  margin: 2vw 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
}

.category {
  font-size: 20px;
  color: rgb(129, 149, 187);
}

.title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: 0.3vw 0 1vw 0;
}

.author {
  font-size: 16px;
  color: rgb(129, 149, 187);
}

.deleteButon {
  font-size: 16px;
  padding: 0.2vw;
}
