#containContainer {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  background-color: rgb(255, 255, 255);
}

#navCotainer {
  margin: 24px 4% 24px 4%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

#logoLink {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
  text-decoration: none;
  cursor: pointer;
}

#links {
  padding: 0;
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;
}

#links li a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.active-link {
  opacity: 1;
  color: #121212;
  font-weight: 600;
}

#personButton {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: white;
}
